<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
 <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
